@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@600;900 & display=swap');

body {
    background-color: #FFF;
    font-family: 'Kanit', sans-serif;
}
section {
    display: grid;
    grid-template-columns: 240px auto 1040px auto;
    grid-template-areas: "sidebar . main .";


}

.Main {
    
    grid-column: 3 / span 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

h1 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
}



.cards_container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    column-gap: 12px;
    row-gap: 15px;

    margin-bottom: 15px;
    margin-top: 5px;
  
      
    
}

.eachCard {
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column; */

    
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 300px 88px 40px;
    row-gap: 5px;

    justify-items: center;


    


  
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 6px;

    background-color: rgb(255, 254, 254);
    
}

.card {
    width: 210px;
    height: 300px;
    border-radius: 6px;
    margin-top: 7px;
}

.cardName {
    color: rgb(0, 0, 0);
    
    width: 200px;
    height: 70px;

    font-family: 'Kanit', sans-serif;
}

button {
    width: 100px;
    height: 30px;
    margin: 5px;

    border-radius: 16px;
    border: none;
    background-color: rgb(247, 247, 247);
    transition: all 0.2s;

    cursor: pointer;
}

button:hover {
    background-color: rgb(236, 236, 236);
}





.nav_container {
    display: grid;
    grid-template-columns: 240px auto 1040px auto;
    grid-template-rows: 140px 60px;


    padding: 0px 16px;


    background-color: #FFF;
    border-bottom: 1px solid rgb(219, 219, 219);
}


.searchBar_container {
    
    grid-column: 3 / span 1;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

   
}


.searchInput {
    width: 46%;
    height: 40px;
    border: none;
    border-radius: 2px;

    background-color: rgb(247, 247, 247);
    font-size: large;
    text-align: center;
    transition: all 0.2s;
}
.searchInput:hover {
    background-color: rgb(236, 236, 236);
}


.logo_logo_container {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
   
}
.logo {
    width: 120px;
    height: 120px;
    
}


.account_container {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
}
.cart {
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.bi_bi-bag {
    width: 21px;
    height: 21px;

    
}
.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.bi_bi-person {
    width: 25px;
    height: 25px;
}
.acc_but {
    background-color: rgb(247, 247, 247);
    transition: all 0.2s;
}
.acc_but:hover {
    background-color: rgb(236, 236, 236);
}

.nav_lower_container{
    grid-column: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_lower_but{

    margin: 0px 30px;

    text-decoration: none;
    color: rgb(148, 148, 148);
}


article {
    grid-column: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 

    width: 240px;
    margin-left: -20px; 
    
    background-color: #FFF;
    border-right: 1px solid rgb(219, 219, 219);
}
.category_but {
   
    width: 220px;
    height: 30px;
    margin: 0px;
    border-radius: 0px;
    /* border-bottom: 1px solid rgb(219, 219, 219) ; */
    background-color: rgb(255, 255, 255); 
    transition: all 0.2s;

    font-family: 'Kanit', sans-serif;
}
.category_but:hover {
    background-color: rgb(236, 236, 236);
}
.cat_Dc {
    width: 100%;
}
.cat_Marvel {
    width: 100%;
}
.categories_container{
    width: 100%;
}
.aside_container{
    width: 100%;
    height: 100%;
    text-align: center;
}

